#menu, #menu ul
{
	padding : 0;
	margin : 10;
	list-style : none;
	line-height : 80px;
	text-align : center;
	margin-top : 30px;
	margin-left: -350px;
	position:absolute;
        left: 35%;
}

#menu
{
	font-weight : bold;
	font-family : Arial;
	font-size : 17px;
}

#menu a
{
	display : block;
	padding :0;
	background : #104;
	color : #fff;
	text-decoration : none;
	width : 210px;
}

#menu li
{
	float : left;
	border-right : 1px solid #fff;
	border-left : 1px solid #fff;
}
