div#bandeau {
	padding:1px;
	width:100%;
	height:15%;
	background-color:#A1F8FF;
	}

div#menu1 {
	padding:1px;
	width:100%;
	height:150px;
	background-color:#B2F8FF;
	}

div#menu2 {
	float:none;
	display:inline-block;
	padding:1px;
 	top:20%;
 	left:0%;
	width:10%;
	height:90%;
	background-color:#3EFF5B;
	}

div#menu3 {
	float:right;
	display:inline-block;
	right:100%;
	padding:1px;
 	top:-60%;
	width:10%;
	height:90%;
	background-color:#3EFF5B;
	}

div#contenu {
	position:relative;
        display:inline-block;
	float:center;
	padding:1px;
	left:10%;
	right:10%;
	top:20%;
	width:79%;
	height:100%;
	background-color:#E6E6E6;
	}

div#piedpage {
	padding:1px;
	width:100%;
	height:10%;
	background-color:#A1F8FF;
	}

div#contenu2 {
	position:relative;
        display:inline-block;
	float:center;
	padding:20px;
	left:10%;
	right:10%;
	top:5%;
	width:79%;
	height:240%;
	background-color:#E6E6E6;
	}

div#contenu3 {
	position:relative;
        display:inline-block;
	float:center;
	padding:20px;
	left:10%;
	right:10%;
	top:5%;
	width:79%;
	height:110%;
	background-color:#E6E6E6;
	}

div#contenu4 {
	position:relative;
        display:inline-block;
	float:center;
	padding:20px;
	left:10%;
	right:10%;
	top:5%;
	width:79%;
	height:200%;
	background-color:#E6E6E6;
	}

div#contenu5 {
	position:relative;
        display:inline-block;
	float:center;
	padding:20px;
	left:10%;
	right:10%;
	top:5%;
	width:79%;
	height:110%;
	background-color:#E6E6E6;
	}

div#contenu6 {
	position:relative;
        display:inline-block;
	float:center;
	padding:20px;
	left:10%;
	right:10%;
	top:5%;
	width:79%;
	height:700%;
	background-color:#EBEBEB;
	}

div#contenu7 {
	position:relative;
        display:inline-block;
	float:center;
	padding:20px;
	left:10%;
	right:10%;
	top:5%;
	width:79%;
	height:220%;
	background-color:#EBEBEB;
	}